<p id="notice"><%= notice %></p>

<h2>O que estão falando sobre isso</h2>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Opinião</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opinions.each do |opinion| %>
      <tr>
        <td><%= opinion.name %></td>
        <td><%= opinion.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Opinião', new_subject_opinion_path(@subject) %>
