<p id="notice"><%= notice %></p>

<h1>Trend do Bom Senso</h1>

<% @subjects.each do |subject| %>
  <%= link_to subject do %>
  <div class="listimages">
    <img src="<%= subject.image %>" height="360">
    <br>
    <%= subject.title %>
  </div> 
  <% end %>
<% end %>
 




